*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*{
  --tgPrimary:#1867C0;
  --tgPrimaryHover:rgba(24, 103, 192, .063);
  --tgBg:white;
  --tgBrown:#c78c55;
}

.dark *{
  --tgPrimary:#B984F9;
  --tgPrimaryHover:rgba(185, 132, 24, .0639);
  --tgBg:#212121;
}