*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*{
  --tgPrimary:#1867C0;
  --tgPrimaryHover:rgba(24, 103, 192, .063);
  --tgBg:white;
  --tgBrown:#ffca95;
}

.dark *{
  --tgPrimary:#B984F9;
  --tgPrimaryHover:rgba(185, 132, 24, .0639);
  --tgBg:#212121;
  --tgBrown:#3f2a15;
}



.v-list-item-subtitle{
  display: block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.v-list-item-title{
  display: block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}