html{
  overflow: hidden;
  overscroll-behavior: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*{
  --tgPrimary:#1867C0;
  --tgPrimaryHover:rgba(24, 103, 192, .063);
  --tgBg:white;
  --tgBrown:#ffca95;
  --tgGreen:#36ff9b;
}

.dark *{
  --tgPrimary:#B984F9;
  --tgPrimaryHover:rgba(185, 132, 24, .0639);
  --tgBg:#212121;
  --tgBrown:#3f2a15;
}



.v-list-item-subtitle{
  display: block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.v-list-item-title{
  display: block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.v-chip__content{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.v-badge__badge{
  height: 1rem;
  font-size: .5rem;
  font-weight: bold;
}
.v-list{
  padding: 0 !important;
}
.v-card-item__content{
  overflow: visible;
}





.fade-and-move-enter-active,
.fade-and-move-leave-active {
  transition: all 0.25s ease;
}

.fade-and-move-enter-from,
.fade-and-move-leave-to {
  opacity: 0;
  /* margin-right: -10rem; */
  transform: translateX(-5rem);
}

.scale-enter-active{
  animation: grow .5s ease;
}
.scale-leave-active {
  animation: shrink 1s ease;
}

/* .scale-enter-from,
.scale-leave-to {
  transform: scaleX(0);
} */

.alert-enter-active{
  animation: alert-in 1s ease;
}
.alert-leave-active {
  animation: alert-out 1s ease;
}

.delayed-scale-enter-active{
  animation: delayed-scale 1s ease;
}
.delayed-scale-leave-active {
  animation: delayed-scale 1s ease reverse;
}

.move-up-enter-active{
  animation: move-up .5s ease;
}
.move-up-leave-active {
  animation: delayed-move-down 1.5s ease;
}

.delayed-move-up-enter-active{
  animation: delayed-move-up 1s ease;
}
.delayed-move-up-leave-active {
  animation: move-down .5s ease;
}


